/* fonts link from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #131313;
}
.section-description{
    color: #727272;
    margin: 20px 0px;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0px;
}

/* nav styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding:30px 140px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 40px;
    

}
nav a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-section{
    margin: 30px 0px ;
}
.banner-section img{
    width: 100%;
}
.banner-content{
    max-width: 700px;
    text-align: center;
    margin: 30px auto;
}
.banner-title{
    margin: 20px 10px;
    font-weight: 700;
    font-size: 35px;
}

/* main styles */
main{
    max-width: 1030px;
    margin: 0 auto;
}

/* teams section styles */

.teams-container{
    display: flex;
    align-items: center;
    margin: 50px 45px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    padding: 20px;
}
.teams-img-container img{
    width: 100%;
}
.teams-content{
    width: 50%;
    padding: 20px;
}
.teams-title{
    font-size: 30px;
    margin: 20px 0px;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}










/* responsive designs */
/* for mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , nav ul{
        flex-direction: column;
        text-align: center;
    }
    nav li{
        margin-top: 20px;
    }
    .teams-container{
        flex-direction: column;
        margin: 15px;
    }
    .teams-content{
        width: 100%;
        padding: 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
}

/* for tablets and mediam devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav li{
        margin-right: 20px;
    }
    .teams-container{
        flex-direction: column-reverse;
        margin: 25px;
    }
    .teams-content{
        width: 100%;
        padding: 30px;
    }
    .teams-img-container{
        width: 100%;
        padding: 30px;
    }
}